<div id="fb-root"></div>
<app-home-page-header></app-home-page-header>
   <app-banner></app-banner>
   <div class="wrapper" id="skipCont"></div>
   <!--/#skipCont-->
    <section id="fontSize" class="wrapper body-wrapper ">
        <h2 style="display: none;">Body</h2>
        <div class="bg-wrapper top-bg-wrapper gray-bg padding-top-bott" id="guidelines">
        <div class="container common-container four_content body-container top-body-container padding-top-bott2">
            <div class="minister clearfix">
                <div class="minister-box clearfix">
                    <div class="minister-sub1">
                    <div class="minister-image"><img src="../../../assets/homePageTemplate/images/minister.jpg" alt="Hon’ble Minister" title="Arun kumar sahoo"></div>
                    <div class="min-info">
                        <h4><a href="#" title="Minister Name">Dr. Arun kumar Sahoo</a></h4>
                        <h5 class="prime"><a href="#" title="Hon’ble Prime Minister">Hon’ble Minister, Agriculture & Farmers' Empowerment</a></h5>
                    </div>
                    </div>
                    <div class="minister-sub">
                    <div class="minister-image"><img src="../../../assets/homePageTemplate/images/ias.jpg" alt="Hon’ble Minister" title="Ministry/Department,Minister Name"></div>
                    <div class="min-info">
                        <h4>Shri Raj Kumar Sharma, IAS</h4>
                        <h5><a href="#" title="Minister of Coal"><span>Agriculture Production Commissioner</span> </a></h5>
                    </div>
                    </div>
                    <div class="minister-sub">
                    <div class="minister-image"><img src="../../../assets/homePageTemplate/images/principalSecretary.jpg" alt="minister of state coal and mines" title="Ministry/Department, Minister Name"></div>
                    <div class="min-info">
                        <h4>Dr. Saurabh Garg, IAS</h4>
                        <h5><a href="#" title="Minister of State"><span>Principal Secretary to Govt. Agriculture & FE</span>
                            </a>
                        </h5>
                    </div>
                    </div>
                </div>
            </div>
            <div class="banner-content-wrapper">
                <h2><span>Guidelines</span></h2>
                <p class="banner-title-tag-line">Welcome to the website of Creates Distribution/Department, Government of Odisha.</p>
                <p class="banner-content"> An informative text section that outlines the work portfolio of the ministry and the initiatives/ schemes and other useful purpose that the ministry website serves.
                    An informative text section that outlines the work portfolio of the ministry and the initiatives/ schemes and other useful purpose that the ministry website serves.
                </p>
            </div>
        </div>
        </div>
        <div class="wrapper home-banner" id="loginId">
                <div class="container common-container four_content banner-container body-container top-body-container">
                    <div class="left-block">
                        <div class="left-col-2" style="width: 100%;">
                            <div class="page-tab clearfix">
                                <div class="page-tab-res clearfix">
                                <div id="parentHorizontalTab" style="height: 386px !important;">
                                    <ul class="resp-tabs-list hor_1">
                                        <li><a id="tab-list-1"> Security Guidelines</a></li>
                                        <li><a>Beware of Phishing attacks</a></li>
                                    </ul>
                                    <div class="resp-tabs-container hor_1" >                           
                                        <div class="clearfix" id="hor_1_tab_item-0">
                                            <div class="content-wrapper">
                                            <p class="text-slide pause" onclick="changeClass()"></p>
                                            <div class="scroll-text scroll-left">
                                                <ul class="list">
                                                    <li>                                                
                                                        <div class="list-content">Make sure,the URL in your browser address bar begins with "https".</div>
                                                    </li>
                                                    <li>                                                
                                                        <div class="list-content">Never write your password on a Post-It and stick it on your monitor, your address rolodex, under your desk pad, or anywhere else where it can be easily found. If you must write it down, keep it where no one can find it except for the authorized user.</div>
                                                    </li>
                                                    <li>                                                
                                                        <div class="list-content">Always lock/logout your computer while leaving.</div>
                                                    </li>
                                                    <li><div class="list-content">Never install unknown or unsolicited software in your computer.</div></li>
                                                    <li><div class="list-content">Never download pirated or cracked software.</div></li>
                                                    <li><div class="list-content">Always use a device firewall.</div></li>
                                                    <li><div class="list-content">Don't click on popup windows that tell you that your computer is infected with a virus.</div></li>
                                                </ul>
                                            </div>
                                            
                                            </div>
                                        </div>
                                        <div class="clearfix" id="hor_1_tab_item-1">
                                            <div class="content-wrapper">
                                            <p class="text-slide01 pause" onclick="changeClass01()"></p>
                                            <div class="scroll-text01 scroll-left">
                                                <ul class="list">
                                                    <li>
                                                        <div class="list-content">Phishing is a fraudulent attempt, usually made through email, phone calls, SMS etc seeking your personal and confidential information. </div>
                                                    </li>
                                                    <li>
                                                        <div class="list-content">The department or any of its representative never sends you email/SMS or calls you over phone to get your personal information,password or one time SMS (high security) password. Any such e-mail/SMS or phone call is an attempt to fraudulently access your account. Never respond to such email/SMS or phone call.</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-right-wrapper">
                        <div class="banner-box-wrapper">
                            
                                <form method="POST" action="/login" class="login-form" autocomplete="OFF" id="loginForm">
                                    <h1>Login</h1>
                                    <hr>
                                    <div class="inputb">
                                        <label for="userId">User ID:</label>
                                        <input class="forminput" type="text" id="userId" name="userId">
                                        <span data-placeholder-1="User ID" data-placeholder-2="User ID:"></span>
                                    </div>
                                    <div class="inputb">
                                        <label for="password">Password:</label>
                                        <input class="forminput hide-pwd" type="password" id="password" name="password">
                                        <span data-placeholder-1="Password" data-placeholder-2="Password:"></span>
                                    </div>
                                    <input type="button" (click)="login()" class="loginbtn" value="Login">
                                    <div class="bottom-text">
                                        <span class="forgotpwd">Forgot <a href="#">Password</a>?</span><br>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
                </div>
        </div>
        <div class="wrapper home-banner" id="locationId">
        <div class="wrapper home-btm-slider">
           <div class="container common-container four_content gallery-container">
              <div class="gallery-area clearfix" style="width: 100%;">
                 <div class="gallery-heading">
                    <h3>Location</h3>
                 </div>
                 <div class="gallery-holder">
                    <div id="galleryCarousel" class="flexslider">
                       <ul class="slides" style="width: 100%;">
                          <li data-thumb-alt="Slide 1">
                             <div class="map">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14970.285050303864!2d85.84123959999998!3d20.2766083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909fe3f1d54ab%3A0x86b5ec8ab8e9a52f!2sOrissa%20Agro%20Industries%20Corpn!5e0!3m2!1sen!2sin!4v1612065279632!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                           </div>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- <div class="gallery-right">
                 <div class="video-heading">
                    <h3>Contact us</h3>
                 </div>
                 <p class="banner-content"><br><br> H.B Colony, Satya Nagar, Bhubaneswar, Odisha 751007
                  <br>
                  Telephone:0674 253 1276</p>
                 <div class="video-wrapper">
                        <p>OAIC</p>
                       <span>Your browser does not support HTML5 video.</span>
                    </video>
                 </div>
              </div> -->
           </div>
        </div>
        </div>
    </section>
   <!--/.body-wrapper-->
   <!--/.banner-wrapper-->
   <app-brand-logo></app-brand-logo>
   <app-home-page-footer></app-home-page-footer>
