
    <section class="wrapper banner-wrapper">
        <h1 style="display: none">Banner</h1>
        <div id="flexSlider" class="flexslider">
        <img class="fixed-banner" src="../../../assets/homePageTemplate/images/nabin_babu.png" alt="Nabin kumar pattnaik" title="Central Minister, Nabin Kumar Pattanik">
        <h1 class="fixed-text">Welcome  <br>Crate distribution to women farmers</h1>
        <ul class="slides">
            <li> <img src="../../../assets/homePageTemplate/images/banner/image (2).jpg" class="banner-image" alt="home page slider5" title="Image 5 description"></li>
            <li> <img src="../../../assets/homePageTemplate/images/banner/image (3).jpg" class="banner-image" alt="home page slider6" title="Image 6 description"></li>
            <li> <img src="../../../assets/homePageTemplate/images/banner/image (5).jpg" class="banner-image" alt="home page slide4" title="Image 4 description"></li>            
            <li> <img src="../../../assets/homePageTemplate/images/banner/image (1).jpg" class="banner-image" alt="home page slider7" title="Image 7 description"></li>
        </ul>
        </div>
    </section>