<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <div class="sidenav-header-inner text-center">
          <img src="assets/26ce8716.png" alt="person" class="img-fluid rounded-circle">
          <h2 class="h5">DM</h2>
        </div>
      </div>
      <div class="main-menu">
        <h5 class="sidenav-heading">MENU</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li routerLinkActive="active">
            <a [routerLink]="['/dm/confirmReceive']" class="nav-link"> <i class="fas fa-share" aria-hidden="true"> </i>
              <span>Confirm Crate Receive</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/dm/confirmedCrateReceiveList']" class="nav-link"> <i class="fas fa-table" aria-hidden="true"> </i>
              <span>Confirmed List</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
