<header>
    <div class="region region-header-top">
       <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
          <noscript class="no_scr">"JzavaScript is a standard programming language that is included to provide
             interactive features, Kindly enable Javascript in your browser. For details visit help page"
          </noscript>
          <div class="wrapper common-wrapper">
             <div class="container common-container four_content top-header">
                <div class="common-left clearfix">
                   <ul>
                      <li class="gov-india"><span class="responsive_go_hindi" lang="hi"><a title="ଓଡିଶା ସରକାର">ଓଡିଶା
                               ସରକାର</a></span> </li>
                      <li class="ministry"><span class="li_eng responsive_go_eng"><a
                               title="Government of odisha">Government of odisha</a></span></li>
                   </ul>
                </div>
                <div class="common-right clearfix">
                   <ul id="header-nav">
                      <li class="ico-skip cf"><a href="#skipCont" title="">Skip to main content</a>
                      </li>
                      <li class="ico-site-search cf">
                         <a href="javascript:void(0);" id="toggleSearch" title="Site Search">
                            <img class="top" src="../../../assets/homePageTemplate/assets/images/ico-site-search.png" alt="Site Search" /></a>
                         <div class="search-drop both-search">
                            <div class="google-find">
                               <form method="get" action="http://www.google.com/search" target="_blank">
                                  <label for="search_key_g" class="notdisplay">Search</label>
                                  <input type="text" name="q" value="" id="search_key_g" />
                                  <input type="submit" value="Search" class="submit" />
                                  <div class="">
                                     <input type="radio" name="sitesearch" value="" id="the_web" />
                                     <label for="the_web">The Web</label>
                                     <input type="radio" name="sitesearch" value="india.gov.in" checked
                                        id="the_domain" /> <label for="the_domain"> INDIA.GOV.IN</label>
                                  </div>
                               </form>
                            </div>
                            <div class="find">
                               <form name="searchForm">
                                  <label for="search_key" class="notdisplay">Search</label>
                                  <input type="text" name="search_key" id="search_key" onKeyUp="autoComplete()"
                                     autocomplete="off" required />
                                  <input type="submit" value="Search" class="bttn-search" />
                               </form>
                               <div id="auto_suggesion"></div>
                            </div>
                         </div>
                      </li>
                      <li class="ico-accessibility cf">
                         <a href="javascript:void(0);" id="toggleAccessibility" title="Accessibility Dropdown">
                            <img class="top" src="../../../assets/homePageTemplate/assets/images/ico-accessibility-h.png" alt="Accessibility Dropdown" />
                         </a>
                         <ul style="visibility: hidden;">
                            <li> <a onClick="set_font_size(&#39;increase&#39;)" title="Increase font size"
                                  href="javascript:void(0);">A<sup>+</sup>
                               </a>
                            </li>
                            <li> <a onClick="set_font_size()" title="Reset font size"
                                  href="javascript:void(0);">A<sup>&nbsp;</sup></a> </li>
                            <li> <a onClick="set_font_size(&#39;decrease&#39;)" title="Decrease font size"
                                  href="javascript:void(0);">A<sup>-</sup></a> </li>
                            <li> <a href="javascript:void(0);" class="high-contrast dark" title="High Contrast">A</a>
                            </li>
                            <li> <a href="javascript:void(0);" class="high-contrast light" title="Normal Contrast"
                                  style="display: none;">A</a> </li>
                         </ul>
                      </li>
                      <li class="ico-social cf">
                         <a href="javascript:void(0);" id="toggleSocial" title="Social Medias">
                            <img class="top" src="../../../assets/homePageTemplate/assets/images/ico-social.png" alt="Social Medias" /></a>
                         <ul>
                            <li><a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.facebook.com/"><img alt="Facebook Page"
                                     src="../../../assets/homePageTemplate/assets/images/ico-facebook.png"></a></li>
                            <li><a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.twitter.com/"><img alt="Twitter Page"
                                     src="../../../assets/homePageTemplate/assets/images/ico-twitter.png"></a></li>
                            <li><a target="_blank" title="External Link that opens in a new window"
                                  href="http://www.youtube.com/"><img alt="youtube Page"
                                     src="../../../assets/homePageTemplate/assets/images/ico-youtube.png"></a></li>
                         </ul>
                      </li>
                      <li class="ico-sitemap cf"><a href="#" title="Sitemap">
                            <img class="top" src="../../../assets/homePageTemplate/assets/images/ico-sitemap.png" alt="Sitemap" /></a>
                      </li>
                      <li class="hindi cmf_lan d-hide">
                         <label class="de-lag">
                            <span style="display: none;">Language</span>
                            <select title="Select Language">
                               <option>English</option>
                               <option>ଓଡ଼ିଆ</option>
                            </select>
                         </label>
                      </li>
                      <li class="hindi cmf_lan m-hide">
                         <a href="javascript:;" title="Select Language">Language</a>
                         <ul>
                            <li><a target="_blank" href="#" lang="hi" class="alink"
                                  title="Click here for हिन्दी version.">हिन्दी</a></li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <p id="scroll" style="display: none;left:5px"><span></span></p>
    </div>
    <!--Top-Header Section end-->
    <section class="wrapper header-wrapper">
       <div class="container common-container four_content  header-container">
          <p class="logo">
             <a href="/" title="Home" rel="home" class="header__logo" id="logo">
             <img class="" src="../../../assets/homePageTemplate/images/oaic-logo.png" alt="OAIC" >
             <em>
                <span>ଓଡିଶା ଶିଳ୍ପ କୃଷି ନିଗମ </span>
                <span> Odisha Agro Industries Corporation Limited</span>
                <label style="font-size: small;">A Govt.of Odisha Undertaking</label>
             </em>
             </a>
          </p>
          <div class="header-right clearfix">
              <div class="right-content clearfix">
                 <div class="float-element">
                    <div style="float: left;max-width: 400px;text-align: right;margin-top: 10px;">
                       <div style="margin-top: 5px;">
                          <em>
                          <span style="font-weight: 900;font-size: 150%;">
                             କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ
                          ଓଡିଶା ସରକାର 
                          </span>
                       </em>
                       </div>
                       <div style="margin-top: 5px;">
                          <em>
                             <span style="font-size: 140%;">
                                Department of Agriculture & Farmers' Empowerment 
                          Government of Odisha
                             </span>
                          </em>
                       </div>
                    </div>
                    <div style="float: right;">
                       <a class="" target="_blank" href="https://swachhbharat.mygov.in/" title="Department of Agriculture & Farmers' Empowerment Government of Odisha">                           
                       
                          <img src="../../../assets/homePageTemplate/images/logo2.png" style="height: 95px;" alt="Farmers' Empowerment"></a>
                    </div>
                 </div>
              </div>
           </div>
       </div>
    </section>
    <!--/.header-wrapper-->
    <section class="wrapper megamenu-wraper">
      <p style="display: none;">Megamenu</p>
      <div class="container common-container four_content">
         <p class="showhide" ><em></em><em></em><em></em></p>
         <nav class="main-menu clearfix" id="main_menu" style="">
            <ul class="nav-menu">
              <li class="nav-item"> <a href="#" class="home"><i class="fa fa-home" aria-hidden="true"></i></a> </li>
              <li class="nav-item"><a href="#guidelines">Guidelines</a></li>
              <li class="nav-item"><a href="#locationId">Location</a></li>
              <li class="nav-item"><a href="#loginId">Login</a></li>
            </ul>
         </nav>
         <nav class="main-menu clearfix" id="overflow_menu">
            <ul class="nav-menu clearfix">
            </ul>
         </nav>
      </div>
   </section>
 </header>