<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <p><img src="assets/images/niclogo1.png" alt="NIC" width="143px;"> &copy; 2021 Copyright</p>
        </div>
        <div class="col-sm-7 text-right">
          <p>Design and Developed by <a href="https://odisha.nic.in/" class="external">National Informatics Centre, Ministry of Electronics & Information Technology, Government of Odisha</a></p>
        </div>
      </div>
    </div>
  </footer>