
    <footer class="wrapper footer-wrapper">
        <div class="footer-top-wrapper">
        <div class="container common-container four_content footer-top-container">
            <ul>
                <li><a href="index.html">Website Policies</a></li>
                <li><a href="index.html">Help</a></li>
                <li><a href="index.html">Contact Us</a></li>
                <li><a href="index.html">Terms and Conditions </a></li>
                <li><a href="index.html">Feedback</a></li>
                <li><a href="index.html">Disclaimer</a></li>
            </ul>
        </div>
        </div>
        <div class="footer-bottom-wrapper">
        <div class="container common-container four_content footer-bottom-container">
            <div class="footer-content clearfix">
                <div class="copyright-content"> <strong>Disclaimer: </strong> 
                    <span>The information contained in this website is for general information purposes only and is provided by Odisha Agro Instrutries corporation Ltd. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</span> 
                    <br>
                    <span>The Site is best viewed in 1024 X 768 resolution and compatable browsers IE11+, Mozilla Firefox, Google Chrome, Opera, Safari. Some features of this site may not work correctly in older version of browsers.</span>
                </div>
                
            </div>
        </div>
        <div class="container common-container four_content footer-bottom-container">
            <div class="footer-content clearfix">
                <div class="copyright-content"> Website Content Managed by <strong>Odisha Agro Industries Corporation, </strong> <span>Designed by <a target="_blank" title="NIC, External Link that opens in a new window" href="http://www.nic.in/"><strong>National Informatics Centre, Odisha</strong></a><strong> ( NIC )</strong></span> </div>
                
            </div>
        </div>
        </div>
    </footer>