<section>
    <div class="container-fluid">
        <br>

            <div class="card">
                <div class="card-header bg-primary">
                    <h4 class="text-white">Select Block</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="finYear ">Financial Year <span class="asterisk-mark">*</span>:</label>
                            <select class="form-control" id="finYear" [(ngModel)]="finYear" >
                                <option value="" disabled selected>--Select--</option>
                                <option *ngFor='let x of finYearList' [ngValue]="x">{{ x }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="block"> Block <span class="asterisk-mark">*</span>:</label>
                            <select class="form-control" id="block" [(ngModel)]="selectedBlock" (change)="applyFilterBlockWise()">
                                <option value="" disabled selected>--Select--</option>
                                <option *ngFor="let x of blockList" [ngValue]="x">{{x.blockName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                    </div>

                </div>
            </div>

        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white float-left">Received Crate List:</h4>
                <input class="float-right search-box form-control" (keyup)="applyFilter($event)" matInput placeholder="Filter" #input>
            </div>
            <div class="card-body table-card">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="receivedCrateList" matSort>
                        <ng-container matColumnDef="slNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SL.</th>
                            <td mat-cell *matCellDef="let element; let i = index;"> 
                                {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="blockName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Block </th>
                        <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="workOrderNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Work-Order no. </th>
                        <td mat-cell *matCellDef="let element"> {{element.workOrderNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lotNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.lotNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="firmName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firm name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firmName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="rDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Receive date </th>
                        <td mat-cell *matCellDef="let element"> {{element.receivedOn | date: 'dd-MM-yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="rQuantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Receive quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.receivedQuantity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ahoRemark">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> AHO - remarks </th>
                            <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                        </ng-container>
                        <ng-container matColumnDef="confirm">
                            <th mat-header-cell *matHeaderCellDef> Confirm </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-raised-button class="btn btn-primary" (click)="confirm(element);"> <i class="fas fa-check" aria-hidden="true"></i> confirm </button>
                             </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell no-record-mat-table" colspan="4">No data matching the filter "{{noFoundFilterValue}}"</td>
                          </tr>
                    </table>
                    <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>

        <br>
    </div>
</section>